body {

 
  	width: 100%;

  	background-image: image/background.jpg;
 
  	max-width: 960px;
 
  	margin: 0 auto; 
}
p {
	max-width: 960px;
}
img{
    
    text-decoration: none;
    
    display: block;
    
    float: left;
    
    margin: 0 3px 3px 0;
    
    opacity: 1;
   
    -webkit-transform: scale(1,1);
    
    -webkit-transition-timing-function: ease-out;
    
    -webkit-transition-duration: 250ms;
    
    -moz-transform: scale(1,1);
    
    -moz-transition-timing-function: ease-out;
    
    -moz-transition-duration: 250ms;
}
img:hover {
    opacity: .7;

    -webkit-transform: scale(1.05,1.07);
    
    -webkit-transition-timing-function: ease-out;
    
    -webkit-transition-duration: 250ms;
    
    -moz-transform: scale(1.05,1.07);
    
    -moz-transition-timing-function: ease-out;
    
    -moz-transition-duration: 250ms;
    
    position: relative;
    
    z-index: 99;
}
 
nav {
 
  	width: 100%;
 
  	margin: 20px 0; 
}
 
nav ul {
 
  	list-style: none;
 
  	overflow: hidden; 
}
 
nav ul li {
 
  	float: left;
 
  	width: 20%; 
}
 
nav ul li a {
 
 	 text-align: center;
 
  	padding: 8px 0;
 
  	display: block;
 
 	width: 100%;
 
  	background: #C1C1C1; 
 
  	background: -moz-linear-gradient(top, #C1C1C1 0%, #727272 100%); 
 
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdeb8e), color-stop(100%,#727272)); 
  
  	background: -webkit-linear-gradient(top, #C1C1C1 0%,#727272 100%);
 
  	background: -o-linear-gradient(top, #C1C1C1 0%,#727272 100%); 
 
  	background: linear-gradient(to bottom, #C1C1C1 0%,#727272 100%); 
 
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C1C1C1', endColorstr='#727272',GradientType=0 ); 
 
  	endColorstr='#C1C1C1',GradientType=0 ); 
 
}
 
nav ul li a,
 
nav ul li a:focus,
 
nav ul li a:visited,
 
nav ul li a:hover,
 
nav ul li a:active {
 
  	color: #000;
 
  	text-decoration: none; 
}
 
nav ul li a:hover,
 
nav ul li a:active {
 
  	background: #1C1C1C; /* Old browsers */
 
  	background: -moz-linear-gradient(top, #C1C1C1 0%, #1C1C1C 100%);
 
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1C1C1C), color-stop(100%,#1C1C1C));
 
  	background: -webkit-linear-gradient(top, #C1C1C1 0%,#1C1C1C 100%);
 
  	background: -o-linear-gradient(top, #C1C1C1 0%,#1C1C1C 100%);
 
  	background: linear-gradient(to bottom, #C1C1C1 0%,#1C1C1C 100%);
 }