.show{
	display:block;
}
.hide{
	display:none;
}
/*HOME*/
#homeImg{
	width:250px;
	height:250px;
	margin: 0 auto;
}
#homeImg{
  width:250px;
  height:250px;
  margin: 0 auto;
}
#colcontainer{
  width:60%;
  float:center;
  margin: 0 auto;

}
#containcol{
  margin: 0 auto;
  display:block;

}
.col1{
  
  
  }
.col{
	width:60%;
	float:center;
	margin: 0 auto;
  display:block;

}
.col p {
  width:60%;
  float:center;
  margin: 0 auto;
  font-size: 1.4em;

}
.clear{
	clear:both;
}
#header {
  min-width: 80px;
  height: 150px;
}
#nav {
  width: 100%;
  background-color: #333;
  font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
  float: left;
  padding-top:10px;
  padding-right:10px;
  height:35px;
}
#nav li {
  list-style: none;
  float: right;
  width: 120px;
  height: 20px;
  line-height: 25px;
  text-align: center;
  padding-right: 10px;
  
}
#nav li a {
  color: white;
  text-decoration: none;
  display: block;
  transition: 0.5s ease;
  border-bottom: 2px solid transparent;
  width: 0px;
  white-space: nowrap;
  height: 25px;
}
#nav li a:hover {
  background-color:#333;
  border-bottom: 2px solid white;
    width: 100px;
}
#subpic{
  margin: 0 auto;
}
/*#home .home a, #home .home a:hover,
#tutorials .tutorials a, #tutorials .tutorials a:hover,
#about .about a, #about .about a:hover,
#contact .contact a, #contact .contact a:hover,
#news .news a, #news .news a:hover c */
{
  background-color: #FFF;
  color: #000;
  cursor: default;
}
#nIcon{
  width: 95px;
  height: 95px;
  margin:-90px 0 0 35px;

}
#login{
  float:right;
}
#switches{
  width: 100%;
  background-color: #000;
  font-family:"Century Gothic", "HelveticaNeueLT Pro 45 Lt", sans-serif;
  max-width: 1200px;
  margin: 0 auto;

}
#switches li {
  list-style: none;
  margin: 0 auto;
  width: 150px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
}
#switches li a {
  color:#C4DAE0;
  text-decoration: none;
  display: block;
}
#switches li a:hover {
  background-color:#000;
  text-decoration: underline;
}
#col2{
  text-align: center;
}
#home{
  text-align: center;
  max-width: 900px;
}

body{
 background: #ffffff url(/phpll/images/background.jpg) no-repeat;

}

@media screen and (max-width: 600px){
 body {
  /* option 1: remove background altogether 
  background: #fff; */

  /* option 2: serve a much smaller background */
  background: #ffffff url(/phpll/images/backgroundS.jpg);

 }
.gal{
  height:400px;
}
} 
#gal{
  background-color: black;
}
#gal li{
  list-style: none;
  display: inline-block;
}
h3{
  margin: 0 auto;
}
#list{
  width: 300px;
}